/* clean it up or bootstrap something */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

/* Project label layout */
h2 {
    font-size: 16px;
}
/* Series label layout */
strong {
    font-size:12px;
}

/* Access info */
p {
    font-size: 10px;
}

input {
    font-size:11px;
}
.container {
    display: flex;
    height: 100%;
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}

#viewport {
    height: 100%;
    width: 100%;
    z-index: 1;
}

#sformula {
    z-index: 10;
    position: absolute;
    text-align: center;
    padding: 25px;
    top: 0;
    right: 0;
}

#sformula svg {
    width: 250px;
    height: 250px;
}

#sformula h2 {
    color:#ccc;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #e0e0e0; /* Right column background color */
    box-sizing: border-box;
    width: 350px; /* initial value; controlled dynamically  */
    align-items: right;
}


.header {
    width: 100%;
    height: 40px; /* Height of header */
    background-color: rgb(118, 63, 152); /* Header background color */
    color: #fff; /* Header text color */
    text-align: center;
    padding: 20px 0;
    background-image: url('images/Sprint_overlay.png'); /* Set the image URL */
    background-repeat: no-repeat;
    background-size: 70%; /* Scale the image to cover the container */
    background-position: left; /* Center the image within the container */
    /* You can add styles for the header here */
    background-position-x: 5px;
}

.footer {
    text-align: center;
    padding: 5px 0;
    width: 100%;
    height: 30px; /* Height of footer */
    background-color: rgb(118, 63, 152); /* Footer background color */
    color: #ccc; /* Footer text color */
    /* You can add styles for the footer here */
}

.footer a {
    color: #ccc;
    text-decoration: none;
}

.footer a:hover {
    color: #999; /* Grey-out on hover */
}

.content {
    padding: 20px;
    flex: 1;
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
    /* You can add styles for the content here */
}

#projectSelect {
    display: flex; /* Enable flexbox layout */
    justify-content: center; /* Center horizontally */
    margin: 0 auto;
}

#checkboxContainer {
    padding: 10px 0;
}

/* style the collapse-expand series */
.series:hover {
    color:#999
}
.series::after {
    content: "(+)";
    font-weight: bold;
    /*text-decoration: underline;*/
     /*margin-left: 2px; */
    font-size:12px;
}

.series.expanded::after {
    content: "(-)";
    font-size:12px;
}


/* Border for header cells */
.StructuresInSeriesTable th {
  border-bottom: 2px solid #000; /* thicker line below header */
}

.colored {
  background-color: lightgray;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
    padding: 2px 4px;
    font-size: 12px;
}

td {
    white-space: nowrap;
    border: 1px solid #ccc; /* Border for visual clarity */
    text-align: center; /* Center align text horizontally */
    vertical-align: middle; /* Center align content vertically */
    position: relative; /* Position relative for absolute positioning */
    min-width: 1.5rem;
    padding: 2px;
}

tbody {
    font-size:12px;
}
td.ligand-table.row-header {
    cursor: pointer; 
}

td.ligand-table.row-header:hover {
    color: purple;
}

/* Checkboxes styling */
input[type="checkbox"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.colorPicker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Style spectrum-colorpicker to be just a square */
.sp-replacer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem; /* Adjust the width as needed */
    height: 1rem;
}

.sp-dd {
  display: none;
}
