<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Entry</title>
</head>
<body>
    <h1>Edit Entry</h1>
    <!-- entry is an sqlite3.Row object; created with fetchone(), so no indexing. -->
    <form action="/update_entry/{{ entry.ID }}" method="post">
        <label for="project">Project:</label>
        <input type="text" id="project" name="project" value="{{ entry.Project }}"><br><br>

        <label for="protein">Protein:</label>
        <input type="text" id="protein" name="protein" value="{{ entry.Protein }}"><br><br>

        <label for="XtalSystem">XtalSystem:</label>
        <input type="text" id="XtalSystem" name="XtalSystem" value="{{ entry.XtalSystem }}"><br><br>

        <label for="Series">Series:</label>
        <input type="text" id="Series" name="Series" value="{{ entry.Series }}"><br><br>

        <label for="Ligand">Ligand:</label>
        <input type="text" id="Ligand" name="Ligand" value="{{ entry.Ligand }}"><br><br>

        <label for="comment">Comment:</label>
        <textarea id="comment" name="comment">{{ entry.Comment }}</textarea><br><br>

        <label for="path_to_structure">Path to Structure:</label>
        <input type="text" id="path_to_structure" name="path_to_structure" value="{{ entry.PathToStructure }}"><br><br>

        <button type="submit">Update Entry</button>
    </form>
</body>
</html>